<!-- Header for every page 
 
Name: Aruna Ravi Kumar
ID: 301243154
Date: 06-04-2022
-->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>  
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <img src="/images/logo2.png" alt="Logo" style="width:50px; height:50px;">
        </div>
        <ul class="nav navbar-nav">
          <li ><a href="/"><%= home %></a></li>
          <li><a href="/about"><%= about %></a></li>
          <li><a href="/projects"><%= projects %></a></li>
          <li><a href="/service"><%= service %></a></li>
          <li><a href="/contact"><%= contact %></a></li>
          <li><a href="/contact"><%= contact %></a></li>
          <li><a href="/userData/business"><%= business %></a></li>
          <li><a href="/userData/businessEdit"><%= business %></a></li>
        </ul>
      </div>
    </nav>